<html>
  <head>
    <title>White Map</title>
    <link href="/static/glike.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/static/js/jquery-1.12.0.min.js"></script>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <h1>
          <a href="/index.html" class="selected">
              <span>ルートラボ</span>から<br/>
              <span>白地図</span>を<br/>r
              作るやつ
          </a>
        </h1>
      </div> <!--- end header -->
      <div id="main">
        {% block bodycontent %}
          Replace this
        {% endblock %}
      </div> <!--- end main -->
    </div> <!-- end container -->
  </body>
</html>
