<html>
  <head>
    <title>White Map</title>
    <link href="/static/glike.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/static/js/jquery-1.12.0.min.js"></script>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <div id="title">
            <h1>
              <a href="/index.html" class="selected">
                  <span id="rootlab">ルートラボ</span>から<br/>
                  <span id="whitemap">白地図</span>を<br/>
                  <span id="making">作るやつ</span>
              </a>
            </h1>
        </div> <!-- end title -->
        <div id="menu">
            <ul>
                <li><a href="/index.html">TOP</a></li>
                <li><a href="/howto.html">使い方</a></li>
        </ul>
        </div><!-- end menu -->
      </div> <!--- end header -->
      <div id="main">
        {% block bodycontent %}
          Replace this
        {% endblock %}
      </div> <!--- end main -->
    </div> <!-- end container -->
  </body>
</html>
