{% extends "_base.html" %}
{% block bodycontent %}
  <h2>ルートファイルをアップロード</h2>
  <div id="drag-area">
    <img src="/images/uploadicon1.png" class="icon"/>
    <div id="text1">
        <p class="largetext">アップロードするファイルをドロップ</p>
        <p class="smalltext">または</p>
    </div>
    <div id="btn-group">
        <input type="file" multiple="multiple"/>
        <p><button id="btn">ファイルを選択</button></p>
    </div>  <!-- end btn-group -->
  </div>  <!-- end drag-area -->
  <h2>白地図を生成する</h2>
  <div id='group-makewhitemap'>
    <form method='post' action='/img-whitemap'>
        <p>
            <input type='radio' name='mapname' value='2'/> 
            日本地図を表示しない<br/>
            <input type='radio' name='mapname' value='1' checked='checked'/> 
            日本地図を表示する(県境なし）<br/>
            <input type='radio' name='mapname' value='0'/> 
            日本地図を表示する（県境あり）<br/>
        </p>
        <input type='submit' id='btn-whitemap'/>
    </form>
    <p><button id="make-whitemap">白地図を作成</button></p>
  </div>  <!-- end group-makewhitemap -->
  <h2>アップロードされたファイル</h2>
  <div id="group-reset-files">
    <div id="uploaded-routes">
      Loding...
    </div>
    <p><button id="reset-files">ファイルをリセットする</button></p>
  </div> <!-- end group-reset-files -->

  <script type="text/javascript">
    $(function(){
      /*=====================================
      ファイルをドロップしたときの処理
      =====================================*/
      $('#drag-area').bind('drop',function(e){
        //デフォルトの挙動を停止
        e.preventDefault();
        //ファイル情報を取得
        var files = e.originalEvent.dataTransfer.files;
        uploadFiles(files);
      }).bind('dragenter',function(){
        //デフォルトの挙動を停止
        return false;
      }).bind('dragover',function(){
        //デフォルトの挙動を停止
        return false;
      });
      /*=====================================
      ダミーボタンを押したときの処理
      =====================================*/
      $('#btn').click(function(){
        //ダミーボタンとinput[type="file"]を連動
        $('input[type="file"]').click();
      });
      $('input[type="file"]').change(function(){
        //ファイルを取得
        var files = this.files;
        uploadFiles(files);
      });
    });
    /*=====================================
    アップロード処理
    =====================================*/
    function uploadFiles(files){
      //FormDataオブジェクトを用意
      var fd = new FormData();
      //ファイルの個数を取得
      var fileLength = files.length;
      //ファイル情報を追加
      for(var i=0; i<fileLength; i++){
        fd.append(files[i].name,files[i]);
      }
      //Ajaxでアップロード処理するファイルへ内容をわたす
      $.ajax({
        url:'/upload',
        type:'POST',
        data:fd,
        processData:false,
        contentType:false,
        success:function(data){
          console.log('ファイルがアップロードされました。')
        }
      });
    }

    /*=====================================
    img-whitemapを表示
    =====================================*/
  $('#make-whitemap').click(function(){
    $('#btn-whitemap')[0].click();
  });
    /*=====================================
    uploaded-routesを更新
    =====================================*/
  function updateRoutes(){
    $.ajax({
      url:'/update',
      cache:false,
      success:function(routes){
        $('#uploaded-routes').html(routes);
      }
    });
    setTimeout('updateRoutes()',4000);
  }
  updateRoutes();
    /*=====================================
    reset-filesがクリックされたときの処理
    =====================================*/
  $('#reset-files').click(function(){
    $.ajax({
      url:'/reset',
      type:'GET',
      success:function(data){
        console.log('ファイルをリセットしました')
      }
    });
  });
  </script>
{% endblock %}

