body{
  font-family: arial,sans-serif;
}
html,body{
  background: #ffffee;
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("/images/backgroundmap1.png")
}

#container{
  background: white;
  width: 70%;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 10px 10px;
  box-shadow: 0 0 3px rgba(0,0,0,0.5);
}

#header{
  background-color: #99ccff;
  border-top: 3px solid #36c;
  height: auto;
  margin-bottom: 15px;
  overflow: hidden;
  padding: 0;
  background-image: url("/images/backgroundmap.png")
}

a{
  font-weight: bold;
}

a:link{
  color: black;
}

a:visited{
  color: gray;
}

a:hover{
  text-decoration: none;
  color: white;
}

a:active{
  color: aqua;
  background-color: navy;
}

a.selected{
  color:black;
  text-decoration:none
}

#header h1 a{
  text-decoration: none;
  color: gray;
  font-size: 20px;
  float: left;
  vertical-align: middle;
  letter-spacing: 0px;
  line-height: 30px;
  font-family: sans-serif;
}
#header h1 #rootlab{
    font-size: 40px;
    color: gray;
}
#header h1 #whitemap{
    font-size: 40px;
    color: white;
}
#header h1 #making{
    font-size: 20px;
    color: gray;
}
#header #title{
    overflow: hidden;
    padding: 0 10px 20px;
}

#menu ul{
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
#menu li{
    display: inline;
    padding: 0;
    margin: 0;
    margin-right: 3px;
    float: left;
}
#menu li > a{
    display: block;
    border-bottom: 2px solid #36c;
    background-color: #99ccff;
    padding: 5px 3px 0;
    text-decoration: none;
    color: gray;
    width: 100px;
    margin: 0px 0px;
    text-align: center;
    font-size: 14px;
}
#menu li > a:hover{
    background-color: #36c;
    color: white;
}

h2{
    margin: 0 0 10px;
    padding: 15px;
    border-left: 10px solid #36c;
    border-bottom: 1px solid #36c;
    font-size: 20px;
    font-weight: bold;
}
/* ダミーボタン用ボタン非表示 */
input[type="file"]{
    display: none;
}
input#btn-whitemap{
    display: none;
}

/* ボタン用スタイル */
#btn-group button , #group-makewhitemap button{
    background: #FFCC66;
    border: 1px solid #DDD;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: #FFF;
    font-size: large;
    width: 200px;
    padding: 10px 0;
    -moz-box-shadow: 0 0 1px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.5);
}

/* 要素をセンタリング */
#btn-group , #text1 , #group-makewhitemap{
    text-align: center;
}
.icon{
    display: block;
    margin: 0 auto;
}

/* 文字サイズと色 */
#text1 , form[method='post']{
    color: #C0C0C0;
}
.largetext{
    font-size: x-large;
}
.smalltext{
    font-size: small;
}

/* drag-areaのスタイル */
#drag-area{
    margin: 10px 40px;
    padding: 20px;
    height: 300px;
    border-width: medium;
    border-color: #C0C0C0;
    border-style: dashed;
}
